<h1> Parking Registration </h1>

<p>'You have no neighbors.'</p>
<dl>
	<dt>Name</dt>
	<dd><%= @parking_registration.first_name %> <%= @parking_registration.last_name %></dd>

	<dt>Email</dt>
	<dd><%= @parking_registration.email %></dd>

	<dt>Spot Number</dt>
	<dd><%= @parking_registration.spot_number %></dd>

</dl>